:root {
    --main-bg-color: #e4e5e6;
    --main-text-color: #808080;
    --nav-bg-color: #ffffff;

    --blue-color: #20a8d8;
    --dark-blue-color: #188fba;
    --light-blue-color: #63c2de;
    --yellow-color: #ffc107;
    --red-color: #f86c6b;
}

* {margin: 0; padding: 0; border: 0;}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 13px;
}

.clear:before,
.clear:after {
	content:" ";
	display: table
}
.clear:after { clear: both }

nav {
	width: 100%;
    background: var(--nav-bg-color);
    border-bottom: 1px solid #909090;
}
nav .navbar {
	width: 90%;
	max-width: 95%;
	margin:0 auto
}

nav .menu ul { float: right }

nav .menu li {
	float: left;
    list-style: none;
    cursor: pointer;
}

nav .menu li>a,
nav .menu li .dropbtn {
	color: #73818f;
	cursor: pointer;
	position: relative;
	display: block;
	padding: 20px 20px;
    transition: background-color .3s;
    text-decoration: none;
    display: inline-block;
}

nav .menu ul li:hover {
    background-color: #d6d6d6;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10000;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 10000;
    left: auto;
    border: 1px solid #c8ced3;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 10000;
}

.dropdown-content a:hover {
    background-color: #eaebef
}

.dropdown-content p {
    border-bottom: 1px solid #c8ced3;
    background: #e4e7ea;
    padding: 7px;
    font-weight: bold;
    text-align: center;
}

.dropbtn.active { background-color: #d6d6d6; }

/*
.dropdown:hover {background-color: #d6d6d6;}
.dropdown:hover .dropdown-content {
    display: block;
}*/

.dropdown.right { float: right; }

.card {
    
    border: 1px solid #fff;
    border-radius: 3px;
    color: white;
    display: table-cell;
    margin: 100px;
    width: 25vw;
}

.card h2 {
    margin: 20px 10px 0px;
    font-weight: 600;
}

.card p {
    margin: 0px 10px;
}

.card.blue {
    background-color: var(--blue-color);
    border-color: #198eb7;

}

.card-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: table;

    border-spacing: 30px 0px;
}
.chart-container {
    width: calc(25vw - 40px);
}

.chart-container canvas {
    width: 100%;
    transition: 0;
}  

#settings {
    width: 90%;
    margin: 70px auto;
}

#settings #settings-menu {
    display: inline-block;
    float: left;
    width: 15%;
    background: var(--nav-bg-color);
    margin-right: 10px;

    border-radius: 5px;
    border: 1px solid #c8ced3;

}

#settings #settings-menu ul {
    list-style: none;
}

#settings #settings-menu ul li {
    padding: 10px 5px;
    border-bottom: 1px solid #c8ced3;
    cursor: pointer;
    transition: background-color .2s;
}

#settings #settings-menu ul li a {
    text-decoration: none;
    color: #0366d6;
}

#settings #settings-menu ul li:hover {
    background: #eaebef;
}

#settings #settings-menu ul li.title { background: #e4e7ea; cursor: default; }

#settings #settings-menu ul li.title p { font-weight: bold; }

#settings #settings-main {
    display: inline-block;
    float: right;
    width: 80%;
    background: var(--nav-bg-color);

    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

#settings h3 {
    margin: 20px 40px;
    color: black;
    font-weight: 300;
    font-size: 20px;

    padding-bottom: 15px;
    border-bottom: .5px solid #c8ced3;

}

#settings #sensor-config {

}

.spoiler {
    width: 90%;
    margin: 10px auto;
    border-radius: 3px;
    border: 1px solid #c8ced3;
}
.spoiler p {
    padding: 7px 5px;
    cursor: pointer;
    background: #efefef;
}

.spoiler p::after {
    content: " ⯅";
}

.spoiler p.active::after {
    content: " ⯆";
}

.spoiler .content {
    display: none;
    width: 100%;
    margin: 8px;
}

input[type=textbox],
input[type=number] {
    border-radius: 2px;
    border: 2px solid #c8ced3;
    padding: 5px 0px 5px 2px;
    font-size: 13px;
    margin-bottom: 15px;
}

div.input-break {
    display: inline-block;
    padding: 5px 5px;
}

button {
    padding: 10px 15px;
    transition: background-color .3s;
    background-color: var(--blue-color);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: var(--dark-blue-color);
}

span.errormsg {
    color: var(--red-color);
    display: none;
}

@media (max-width: 750px) {
    #settings {
        width: 95%;
        margin-top: 20px;
    }

    #settings #settings-menu {
      display: block;
      width: 100%;
      margin: 10px;
      float: left;
      margin: 0;

      margin-bottom: 10px;
    }

    #settings #settings-main {
        display: block;
        float: left;
        width: 100%;
        margin: 0;

    }

    div.input-break {
        width: 100%;
        padding: 0px 0px;
    }

    input[type=textbox],
    input[type=number] {
        width: 100%;
    }

    /*#settings .spoiler .content,
    #settings .spoiler .content input,
    #settings .spoiler .content button {
        font-size: 13px;
    }*/
}