:root {
    --main-bg-color: #e4e5e6;
    --main-text-color: #808080;
    --nav-bg-color: #ffffff;

    --blue-color: #20a8d8;
    --light-blue-color: #63c2de;
    --yellow-color: #ffc107;
    --red-color: #f86c6b;
}

* {margin: 0; padding: 0; border: 0;}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: .875rem;
}

.clear:before,
.clear:after {
	content:" ";
	display: table
}
.clear:after { clear: both }

nav {
	width: 100%;
    background: var(--nav-bg-color);
    border-bottom: 1px solid #909090;
}
nav .navbar {
	width: 90%;
	max-width: 95%;
	margin:0 auto
}

nav .menu ul { float: right }

nav .menu li {
	float: left;
    list-style: none;
}

nav .menu li>a,
nav .menu li .dropbtn {
	color: #73818f;
	cursor: pointer;
	position: relative;
	display: block;
	padding: 20px 20px;
    transition: background-color .3s;
    text-decoration: none;
    display: inline-block;
}

nav .menu ul li:hover {
    background-color: #d6d6d6;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10000;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 10000;
    left: auto;
    border: 1px solid #c8ced3;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 10000;
}

.dropdown-content p {
    border-bottom: 1px solid #c8ced3;
    background: #e4e7ea;
    padding: 7px;
    font-weight: bold;
    text-align: center;
}

.dropbtn.active { background-color: #d6d6d6; }

/*
.dropdown:hover {background-color: #d6d6d6;}
.dropdown:hover .dropdown-content {
    display: block;
}*/

.dropdown.right { float: right; }

.card {
    
    border: 1px solid #fff;
    border-radius: 3px;
    color: white;
    display: table-cell;
    margin: 100px;
    width: 25%;
}

.card h2 {
    margin: 20px 10px 0px;
    font-weight: 600;
}

.card p {
    margin: 0px 10px;
}

.card.blue {
    background-color: var(--blue-color);
    border-color: #198eb7;

}

.card-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: table;

    border-spacing: 30px 0px;
}